.carousel-item {
    max-height: 780px;
    min-height: 600px;
    max-height: 75vh;
    display: flex;
    position: relative;
    margin: auto;
}

.carousel-item-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.carousel-item-right {
    background-color: rgba(7, 71, 68, 0.75);
    width: 30.98%;
    height: 100%;
    position: absolute;
    margin-left: 69.02%;
}

.carousel-item-right-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%
}

.carousel-item-right-content .carousel-item-right-text {
    width: 350px !important;
    color: #fff;
    text-align: center;
    filter: brightness(2.0)
}

.carousel-item-right-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.carousel-item-right-actions span {
    font-family: "Regular";
    font-size: 33px;
    margin-left: 25px;
    color: #fff;
}

.carousel-item-right-anchor {
    display: block;
    text-decoration: none;
    width: 85px;
    color: #fff;
}

@media (max-width: 950px) {
    .carousel-item {
        min-height: 500px;
    }
    .carousel-item-right-text {
        font-size: 40px;
    }

    .carousel-item-right {
        width: 50%;
        margin-left: 50%;
    }
}


@media (max-width: 550px) {

    .carousel-item-right {
        width: 50%;
        margin-left: 50%;
    }
    .carousel-item-right-actions {
        flex-direction: column;
    }
    .carousel-item-right-actions span {
        font-size: 25px;
    }

}