.home-contact-container {
    background: linear-gradient(180deg, rgba(6,43,39,1) 56%, rgba(255,255,255,1) 56%, rgba(255,255,255,1) 71%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.home-contact-container img {
    height: 300px;
}

.home-contact-button {
    margin-left: -90px !important;
}

.home-contact-text-container {
    background-color: grey;
    z-index: 80;
    margin-left: -50px;
    min-height: 300px;
    max-width: 500px;
}