

header {
    width: 100%;
    background-color: #D8DBDB;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 10%;
    height: 221px;
}

.nav-left-side {
    height: 100%;
}

.nav-left-side img {
    height: 100%;
}

.nav-right-side {
    width: 70%;
}

.nav-right-side ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-family: "Regular";
    font-size: 30px;
    color: #3A4948;
}

.nav-right-side ul li a {
    color: #3A4948;
    text-decoration: none;
}

@media (max-width: 550px) {
    .nav-right-side ul {
        display: none;
    }
}