



.nav-right-side {
    width: 70%;
}

.nav-right-side ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-family: "Regular";
    font-size: 30px;
    color: #3A4948;
}

.nav-right-side ul li a {
    color: #3A4948;
    text-decoration: none;
}

@media (max-width: 550px) {
    .nav-right-side ul {
        display: none;
    }
}